.footer {
    padding: 6em 1.5em;
    display: flex;
    flex-direction: row;
    background: var(--roxo);
    justify-content: space-between;
    color: var(--branco);
}

.footer_logo {
    font-weight: 900;
    border: 1px solid var(--branco);
    padding: .5em;
    border-radius: 10px;
    text-transform: uppercase;
    text-align: center;
    transition: ease-in-out 300ms;
}

.footer__contato {
    text-align: center;
}

.contato__title {
    font-weight: 900;
    transition: ease-in-out 300ms;
}

.contato__title:hover {
    color: var(--cinza);
    cursor: pointer;
}

.contato__tel {
    margin: 1em 0 .5em 0;
}

.footer__social {
    display: flex;
}

.footer__social-item {
    margin: 0 .5em;
    color: var(--branco);
    border: 1px solid var(--branco);
    padding: .5em;
    border-radius: 10px;
}

.footer_logo:hover {
    border: 1px solid var(--cinza);
    color: var(--cinza);
    cursor: pointer;
}

.footer__social-image {
    width: 2em;
}